/* Estilos gerais */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    margin-top: 100px;
}

body {
    background-color: #def7eb;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body, p, h1, h2, h3, ul, li, table {
    margin: 0;
    padding: 0;
}


/* Header */

.navbar {
    background-color: #279572;
    overflow: visible;
 
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: end;
}

.img-logo {
    width: 70%;
   
}

.search-bar {
    width: 60%; /* Altera a largura para 60% da tela */
    display: flex; /* Alinha elementos horizontalmente */
    justify-content: center; /* Alinha o input à direita da barra de pesquisa */
    margin: 0 auto 0 auto;

}

.search {
    width: 90%; /* Preenche todo o espaço disponível na barra de pesquisa */
    height: 2.5rem;
    padding-left: 10px; 
    font-size: 16px;
    border: none; 
    border-radius: 12px 0 0 12px; 
    background-color: #def7eb;
}

.search-btn {
    border-radius: 0 12px 12px 0;
    
}

.login {
    margin: 0 3px 0 0;
    padding: 0 10px 0 10px;
    text-align: center;
    border: 2px solid rgba(0,0,0,0);
}

.cart-market {
    margin-right: 5%;
    margin: auto 0 auto 0;
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    padding: 0 5px;
}

.block {
    display: block;
}

.login-button,
.cart-button {
    text-decoration: none; 
    color: #000;
}

.search-img, .login-img, .cart-img {
    width: 30px;
}
    
.cart-img, .login-img {
    margin-top: 2px;
}

.login:hover {
    background-color: #2da67f;
}

.cart-market:hover {
    background-color: #2da67f;
}

form.user-area {
    margin: 0 15px;
}

/* footer */
footer {
    margin-top: 200px;
    width: 100%;
}

/* Logado */
.dropbtn {
  background-color: #279572;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-right: 1px solid #def7eb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2da67f;
}

/* Index */

#carouselExampleIndicators {
    margin-top: 20px;
}

.carousel-inner {
    border-radius: 15px;
}


.title-produto {
    width: 100%;
    border: 2px solid #279572;
    border-radius: 12px;
    margin: 30px 0;
    padding: 5px 45%;
    background-color: #a1d1ba;
    color: #10523d;
}


/* Cadastro */

.form-cadastro {
    border: 2px solid #73ba98;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 3px 3px #428766; 
}
.form-cadastro h1 {
    text-align: center;
    margin-bottom: 30px;
}

button.btn-dark {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 40%;
    width: 20%;
    border-radius: 0.75rem;
}

.back {
    margin: 0 auto;
    text-align: center;
}

/* ADMINISTRADOR */

.title {
    margin: 0 auto;
    text-align: center;
}

.main-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.manager-btn {
    height: 100px;
    width: 300px;
    background-color: #279572;
    color: #000;
    text-align: center;
    display: inline-flex;
    margin-top: 50px;
}

div.manager-btn:first-child {
    margin-left: 40px;
}

div.manager-btn:last-child {
    margin-right: 40px;
}

.text-center-div {
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Categorias e Produtos*/

.custom-table {
    border-collapse: collapse;
    width: 600px;
    margin: 50px auto;
}

.custom-table td {
    border: 1px solid black; /* Adiciona borda a todas as células */
    padding: 8px; /* Adiciona espaçamento interno */
}

.custom-table td:last-child {
    width: 140px;
}

.custom-table tr:first-child{
    background-color: #279572;
}

.main-prod .a-btn, .main-ctg .a-btn{
    text-decoration: none;
}

.new-p-btn, .new-c-btn {
    background-color: #279572;
    color: #000;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:  20px 50px;
    margin: 30px 0;
}

.new-p-btn:hover, .new-c-btn:hover {
    background-color:  #2da67f;
}

.back-btn {
    background-color: #279572;
    color: #000;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    padding:  10px 30px;
}

/* Novo produto e Nova categoria */
.new-c-form, .new-p-form {
    margin-top: 50px;
    display: flex;
    height: 250px;
    align-items: center;
}

.new-c-form form, .new-p-form form {
    margin: 10px auto;
    
}

.new-c-form .new-c-input {
    width: 600px;
}

.new-p-form .new-p-input {
    width: 600px;
    margin: 5px 0;
}